SettleIn/Service References/GameServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="GameServicez_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.User" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.Result" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.InGame" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Board" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.TurnActions" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming.DevCards" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Board.Hexes" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.Lobby" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming.GamePhases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChat_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IChat_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IChat_Say_InputMessage">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="IChat_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IChat">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/Join" message="tns:IChat_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChat/JoinResponse" message="tns:IChat_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/Leave" message="tns:IChat_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Say">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/Say" message="tns:IChat_Say_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IChat/Receive" message="tns:IChat_Receive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameServicez" type="tns:IChat">
    <wsp:PolicyReference URI="#GameServicez_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IChat/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IChat/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://tempuri.org/IChat/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IChat/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="GameServicez" binding="tns:GameServicez">
      <soap12:address location="net.tcp://localhost:2222/gameservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2222/gameservice</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>