SettleIn/Service References/GameServer/SettleInCommon.Actions.InGame.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.InGame" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.InGame" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Board" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.TurnActions" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.User" />
  <xs:complexType name="InGameAction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions" base="q1:GameAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="GameID" type="xs:int" />
          <xs:element minOccurs="0" name="Index" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InGameAction" nillable="true" type="tns:InGameAction" />
  <xs:complexType name="LooseCardsAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SettleInCommon.Board" minOccurs="0" name="ResourcesLost" nillable="true" type="q2:ArrayOfEResource" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LooseCardsAction" nillable="true" type="tns:LooseCardsAction" />
  <xs:complexType name="PickGoldAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SettleInCommon.Board" minOccurs="0" name="Resources" nillable="true" type="q3:ArrayOfEResource" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PickGoldAction" nillable="true" type="tns:PickGoldAction" />
  <xs:complexType name="AcceptOfferAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcceptOfferAction" nillable="true" type="tns:AcceptOfferAction" />
  <xs:complexType name="CounterTradeOfferAction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions.TurnActions" base="q4:TradeOfferAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CounterTradeOfferAction" nillable="true" type="tns:CounterTradeOfferAction" />
  <xs:complexType name="GameChatAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChatMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameChatAction" nillable="true" type="tns:GameChatAction" />
  <xs:complexType name="PlayerLostConnection">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerLostConnection" nillable="true" type="tns:PlayerLostConnection" />
  <xs:complexType name="PlayerReconnectedAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerReconnectedAction" nillable="true" type="tns:PlayerReconnectedAction" />
  <xs:complexType name="PlayerLeftAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerLeftAction" nillable="true" type="tns:PlayerLeftAction" />
  <xs:complexType name="SpectatorLeftAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpectatorLeftAction" nillable="true" type="tns:SpectatorLeftAction" />
  <xs:complexType name="SpectatorLostConnection">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpectatorLostConnection" nillable="true" type="tns:SpectatorLostConnection" />
  <xs:complexType name="SpectatorJoinedAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InGameAction">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SettleInCommon.User" minOccurs="0" name="Spectator" nillable="true" type="q5:XmlUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpectatorJoinedAction" nillable="true" type="tns:SpectatorJoinedAction" />
  <xs:complexType name="ArrayOfInGameAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InGameAction" nillable="true" type="tns:InGameAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInGameAction" nillable="true" type="tns:ArrayOfInGameAction" />
</xs:schema>