SettleIn/Service References/GameServer/SettleInCommon.Actions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Actions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageFromServerAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageFromServerAction" nillable="true" type="tns:MessageFromServerAction" />
  <xs:complexType name="GameAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sender" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAction" nillable="true" type="tns:GameAction" />
</xs:schema>