SettleIn/Service References/DataServerInstance/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SettleInCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SettleInCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.User" />
  <xs:complexType name="XmlUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageTurnTime" type="ser:duration" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SettleInCommon.User" minOccurs="0" name="Buddies" nillable="true" type="q1:ArrayOfXmlUser" />
      <xs:element minOccurs="0" name="FavoriteMapID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PlayedLadderGames" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDrops" type="xs:int" />
      <xs:element minOccurs="0" name="TotalQuits" type="xs:int" />
      <xs:element minOccurs="0" name="WonLadderGames" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlUserDetails" nillable="true" type="tns:XmlUserDetails" />
</xs:schema>