SettleIn/Service References/DataServerInstance/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.User" />
  <xs:complexType name="XmlGameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardID" type="ser:guid" />
      <xs:element minOccurs="0" name="GamePoints" type="xs:int" />
      <xs:element minOccurs="0" name="LadderPointsFromGame" type="xs:int" />
      <xs:element minOccurs="0" name="OldRating" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SettleInCommon.User" minOccurs="0" name="Player" nillable="true" type="q1:XmlUser" />
      <xs:element minOccurs="0" name="Winner" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlGameResult" nillable="true" type="tns:XmlGameResult" />
</xs:schema>