SettleIn/Service References/DataServerInstance/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.User" />
      <xsd:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SettleInCommon" />
      <xsd:import schemaLocation="http://localhost:11984/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SettleInCommon.Gaming" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsUserNameTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameTaken" />
  </wsdl:message>
  <wsdl:message name="IService1_IsUserNameTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameTakenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewestUser_InputMessage">
    <wsdl:part name="parameters" element="tns:NewestUser" />
  </wsdl:message>
  <wsdl:message name="IService1_NewestUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewestUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MostRecentGame_InputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentGame" />
  </wsdl:message>
  <wsdl:message name="IService1_MostRecentGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsUserNameTaken" message="tns:IService1_IsUserNameTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsUserNameTakenResponse" message="tns:IService1_IsUserNameTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewestUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewestUser" message="tns:IService1_NewestUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewestUserResponse" message="tns:IService1_NewestUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostRecentGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MostRecentGame" message="tns:IService1_MostRecentGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MostRecentGameResponse" message="tns:IService1_MostRecentGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameTaken">
      <soap:operation soapAction="http://tempuri.org/IService1/IsUserNameTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewestUser">
      <soap:operation soapAction="http://tempuri.org/IService1/NewestUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostRecentGame">
      <soap:operation soapAction="http://tempuri.org/IService1/MostRecentGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:11984/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>